body {
    margin: 0;
    padding: 0;
}
.map {
  height: 100vh;
  width: 100vw;
  background: url(textured_paper.jpeg) repeat;
}

.bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: white;
}

.form-bottom-menu {
    margin: 0;
    padding: 0;
}
