body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}
a, a:hover, a:visited, a:active, a:focus {
    color: black;
    text-decoration: none;
}
.map {
  height: calc(100vh - 44px);
  width: 100vw;
  background: url(textured_paper.jpeg) repeat;
}

.bottom-menu {
    display: flex;
    border-top: 2px #aaa solid;
}

.form-bottom-menu {
    margin: 0;
    padding: 0;
}

.input-type {
    display: inline-flex;
    margin-right: 30px;
    flex-grow: 1;
}

.data-type-item {
    background-color: #ddd;
    padding: 5px 10px;
    font-size: 15px;
    margin: 0;
    border-right: 1px #aaa solid;
}

.item-selected {
    background-color: #aaa;
    color: #eee;
}

#osm-checkbox {
    margin-right: 10px;
    margin-left: 50px;
}

input[name=interaction_type] {
    margin-left: 20px;
}

.map-nav {
    margin: 0;
    border: none;
}

.map-nav>li>a {
    border-radius: 0 0 4px 4px;
    padding: 5px 15px;
    cursor: pointer;
}
.map-nav>li.active>a, .map-nav>li.active>a:hover, .map-nav>li.active>a:focus {
    border: 1px #ddd solid;
    border-top-color: transparent;
}

.btn-map-bottom-menu {
    margin-top: 4px;
}

.btn-group-osm-checkbox {
    float: right;
}

.modal-add-body {
    display: table;
    width: 100%;
}

.modal-add-dialog, .modal-edit-dialog {
    width: 70%;
    margin-top: 10px;
}

.modal-delete-dialog {
    width: 40%;
    margin-top: calc( 50vh - 100px );
}

h3 {
    margin: 5px 0;
    font-size: 18px;
}

#addForm>div>h3{
    margin: 0  0 10px 0;
}

.modal-add-body .well {
    margin-bottom: 5px;
}

.modal-add-body .form-control {
    height: 30px;
    font-size: 12px;
}

.modal-add-body .btn {
    font-size: 12px;
    padding: 3px 12px;
}

.modal-backdrop {
    opacity: 0 !important;
}

.fe-alert {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 100000;
    padding: 0 25%;
}

a:focus {
    outline:none;
}

#layers {
    position:absolute;
    bottom: 100px;
    left: 0;
    width: 150px;
}

#layers .panel {
    margin: 0;
}

#layers .panel-body {
    padding: 0 20px;
}

#showHideButton {
    background-color: #fff;
    display: block;
    height: 70px;
    width: 20px;
    position: absolute;
    right: -20px;
    bottom: 0;
    text-transform:uppercase;
    font-size:8px;
    line-height:8px;
    text-align:center;
    padding: 5px 10px 5px 5px;
    border:1px solid #ddd;
    border-radius:0 6px 6px 0;
    word-wrap:break-word;
}